:root {
    --main-bg-color:#011212;
    --div-bg-color: #ff8800;
    --div-ball-widht: 100px;
    --div-ball-height: 100px;
    --div-ball-br:50px;

}

body {
    background-color: var(--main-bg-color);
}

.ball {
    width: var(--div-ball-widht);
    height: var(--div-ball-height);
    background-color: var(--div-bg-color);
    border-radius: var(--div-ball-br);
}
